// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Montserrat", Arial;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	height: 12vh;
	background-color: $theme-color;
	/* background-color: rgba(20, 29, 61, 0.7); */
	width: 100%;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

#nav > a {
	display: none;
}
#nav li {
	position: relative;
}

/* first level */

#nav > ul {
	height: 3.75em;
}
#nav > ul > li {
	width: 25%;
	height: 100%;
}

/* second level */

#nav li ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: $theme-color;
}
#nav li:hover ul {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
}

ul li {
	list-style: none;
	margin: 0 0 0 .5em;
	padding: 1em;
}

ul li a {
	color: $menu-button-text;
}

h1 {
	margin: 0;
	padding: 10px;
	color: #fff;
}

p {
	line-height: 2;
	color: #fff;
}

.nav-logo {
	position: absolute;
	background-repeat: no-repeat;
	top: 0.75em;
	height: 8vh;
	width: 16vw;
	left: 10vw;
}

.logo {
	left: 42vw;
	top: 10vh;
	padding: 1vh 2vw;
	z-index: 1;
}

.bt {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: $button-background;
	color: $button-text;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	margin-bottom: 10px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
	box-shadow .15s ease-in-out;
	    text-shadow: none;

}

.bt:hover {
	color: #007bff;
	background-color: transparent;
	border-color: $button-hover;
}

.footer-nav {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: "Montserrat";
	color: #d3d3d3;
}

a:link {
	text-decoration: none;
}

.banner-text {
	text-align: center;
	position: absolute;
	top: 30vh;
	left: 10vw;
	color: #fff;
	box-shadow: inset 0 0 0 1000px rgba(20, 29, 61, 0.8);
	transition: opacity 2s ease-in;
	text-shadow: 4px 4px #000;

}

.banner {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.banner-small {
	height: 26em;
}

.banner-large {
	height: 88vh;
}

.banner-main {
	background-image: url(/images/home-banner.png);
}

.banner-serv {
	background-image: url(/images/banner-serv.png);
}

.banner-empresa {
	background-image: url(/images/empresa.png);
}

.banner-blog {
	background-image: url(/images/blog.png);
}

.banner-finance {
	background-image: url(/images/banner-finance.png);
}

.banner-marketing {
	background-image: url(/images/banner-process.png);
}

.banner-process {
	background-image: url(/images/banner-process.png);
}

.banner-people {
	background-image: url(/images/banner-people.png);
}

.banner-contact {
	background-image: url(/images/banner-contact.png);
}

a:hover {
	color: $anchor-hover;
}

img {
	transition: filter 0.5s ease-in-out;
	filter: grayscale(0%);
}

img:hover {
	filter: grayscale(100%);
}

.section-one {
	height: auto;
	padding: 1em;
	display: flex;
	position: absolute;
	top: 99vh;
	color: #fff;
}

.section-one .image {
	flex: 1;
	margin-right: 3em;
}

.section-one .text {
	flex: 6;
}

.section-two {
	height: auto;
	background-color: #fff;
	color: #fff;
	padding: 1em;
	display: flex;
}

.section-two .image {
	flex: 1;
	margin-right: 2em;
}

.section-two .text {
	flex: 6;
}

.section-two h1 {
	color: black;
}

.section-two h5 {
	color: #000;
}

.section-two p {
	color: black;
}

.section-three {
	height: auto;
	padding: 1em;
	display: flex;
	box-shadow: inset 0 0 0 1000px rgba(20, 29, 61, 0.9);
	background-image: url(/images/recife-banner.png);
}

.section-three .image {
	flex: 2;
	margin-right: 1em;
}

.section-three .text {
	flex: 4;
}

.image-wrap {
	height: auto;
	background-color: #fff;
	padding: 4em;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.section-four {
	height: auto;
	background-color: $theme-color;
	padding: 1em;
	display: flex;
}

.section-four .text {
	width: 28%;
}

.main-form-section {
	height: auto;
	background-color: $theme-color;
	padding: 1em;
	display: flex;
}

.flex-section {
	background-color: $theme-color;
	width: 100%;
	height: 60vh;
	box-shadow: inset 0 0 0 1000px rgba(20, 29, 61, 0.9);
	display: flex;
}

.flex-section h5 {
	color: #fff;
}

.flex-section-box {
	padding: 3vw;
	width: 100%;
}

ol {
	color: #fff;
	padding: 0;
	line-height: 2;
	overflow: hidden;
}

.flex-section-box-marketing {
	padding: 1vw;
	width: 100%;
}

.flex-service-section {
	background-color: $theme-color;
	background-image: url(/images/services-bg.webp);
	width: 100%;
	display: flex;
	font-size: 14px;
}

.flex-service-section h2 {
	color: #fff;
}

.alert {
	width: 100%;
	font-size: 11.5px;
	padding-bottom: 1em;
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.form-title {
	color: $form-title-text;
}

.form-wrap {
	padding: 1vw;
}

.form-group {
	width: 30em;
}

.login {
	border: 2px solid black;
	background-color: $theme-color;
	padding: 4em;
	position: absolute;
	left: 30vw;
	top: 10vh;
}

.label {
	color: #fff;
}

.contact-info {
	position: absolute;
	top: 88vh;
	left: 35vw;
	width: 20%;
	font-size: 14px;
	text-align: center;
}

.form-control {
	width: 100%;
	position: relative;
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 1vw;
}

.input {
	display: block;
	width: 100%;
	background: transparent;
	border: 1px solid $theme-color;
	font-family: "Montserrat";
	font-size: 16px;
	color: #4b2354;
	line-height: 1.2;
}

/*---------------------------------------------*/
input.form-control {
	height: 2vw;
	padding: 0 20px 0 23px;
}

textarea.form-control {
	min-height: 199px;
	padding: 19px 20px 0 23px;
}

textarea {
	width: 20%;
	height: 40%;
}

footer {
	background-color: black;
}

.footer-nav {
	display: flex;
}

.copyright {
	text-align: center;
}

.social {
	justify-content: center;
}

.g-recaptcha {
	position: relative;
	top: 1vh;
}

.hamburger {
	display: none;
	width: 6vw;
	height: 4vh;
	margin: 12px 0 0;
	position: absolute;
	top: 2vh;
	left: 86vw;
	z-index: 999999;
}

.hamburger span {
	margin: -2px 0 0;
	position: absolute;
	top: 50%;
	width: 28px;
	height: 3px;
	background-color: #fff;
	display: none;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hamburger span {
	display: block;
}

.hamburger span:before,
.hamburger span:after {
	position: absolute;
	content: '';
}

.hamburger span:before,
.hamburger span:after {
	width: 28px;
	height: 3px;
	background-color: #fff;
	display: block;
}

.hamburger span:before {
	margin-top: -10px;
}

.hamburger span:after {
	margin-top: 10px;
}

.hamburger span:before {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0s;
	-moz-transition-property: margin, -moz-transform;
	-moz-transition-duration: .2s;
	-moz-transition-delay: .2s, 0s;
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0s;
}

.hamburger span:after {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0s;
	-moz-transition-property: margin, -moz-transform;
	-moz-transition-duration: .2s;
	-moz-transition-delay: .2s, 0s;
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0s;
}

.hamburger:hover {
	border: none;
}

.hamburger.active span {
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hamburger.active span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg);
	-webkit-transition-delay: 0s, .2s;
	-moz-transform: rotate(45deg);
	-moz-transition-delay: 0s, .2s;
	transform: rotate(45deg);
	transition-delay: 0s, .2s;
}

.hamburger.active span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg);
	-webkit-transition-delay: 0s, .2s;
	-moz-transform: rotate(-45deg);
	-moz-transition-delay: 0s, .2s;
	transform: rotate(-45deg);
	transition-delay: 0s, .2s;
}

#mobile-nav {
	display: none;
}

.map {
	position: absolute;
	top: 78vh;
	left: 56vw;
	width: 40%;
	height: 55vh;
	border: 0;
}

/* ---- PARTICLES.JS CONTAINER ---- */

#particles-js {
	position: relative;
	width: 100%;
	height: 42vh;
	background-color: $theme-color;
	background-repeat: no-repeat;
	background-size: cover;
}

.arrowup {
	position: absolute;
    left: 1vw;
	top: 2vh;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-30px);
	}
	60% {
	  transform: translateY(-15px);
	}
}

#backToTopButton {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 94vw;
	color: #000;
	box-shadow: inset 0 0 0 1000px rgba(143, 143, 143, 0.8);
	border-radius: 20%;
	top: 280vh;
}


/*----------------------------MEDIA QUERIES---------------------------------------------*/

@media only screen and (max-width: 900px) {
	.section-one {
		flex-direction: column;
		top: 100vh;
	}

	.section-two {
		flex-direction: column;
		top: 100vh;
	}

	.section-three {
		flex-direction: column;
		top: 100vh;
	}

	.bt {
		display: block;
		width: 100%;
	}

	.main-form-section {
		height: 200vh;
	}

	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	p {
		font-size: 16px;
	}

	.nav-logo {
		width: 42vw;
		z-index: 1;
	}

	.image {
		width: 40vw;
		position: relative;
		left: 25vw;
	}

	.image-wrap {
		flex-direction: column;
		align-items: center;
	}

	.footer-nav {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.banner-serv {
		height: 90vh;
	}

	.banner-text {
		text-align: center;
		top: 30vh;
		left: 0;
	}

	.bt {
		display: block;
		width: 100%;
	}

	.form-control {
		margin-bottom: 2vh;
	}

	input.form-control {
		height: 6vw;
	}

	.flex-section {
		flex-direction: column;
		height: 146vh;
	}

	.flex-service-section {
		flex-direction: column;
	}

	.form-wrap {
		position: absolute;
		left: 16vw;
	}

	.form-group {
		width: 19em;
	}

	.contact-info {
		top: 180vh;
		left: 18vw;
		font-size: 12px;
		text-align: center;
		width: 63%;
	}

	.map {
		top: 230vh;
		left: 10vw;
		width: 80%;
		height: 55vh;
	}

	textarea.form-control {
		min-height: 199px;
		padding: 19px 20px 0 23px;
		height: 20%;
	}

	#particles-js {
		height: 56em;
	}

	#mobile-nav {
		position: relative;
		width: 100%;
		z-index: 1;
		background-color: $theme-color;
		overflow: hidden;
		display: block;
	}

	#mobile-nav:not(:target) > a:first-of-type,
	#mobile-nav:target > a:last-of-type {
		display: block;
	}

	.hamburger span {
		display: block;
	}

	#nav {
		display: none;
	}

	/* DROPDOWN MENU FIRST LEVEL */

	#mobile-nav > ul {
		height: auto;
		display: none;
		position: absolute;
		background-color: $theme-color;
		text-align: center;
		top: 10vh;
		left: 0;
		right: 0;
		z-index: 1;
		display: block;
	}

	#mobile-nav:target > ul {
		display: block;
	}

	#mobile-nav > ul > li {
		width: 100%;
		float: none;
		top: 6vh;
	}

	ul {
		color: #fff;
		line-height: 1.5;
		border-top: 2px solid #add8e6;
		margin: 1vh 0;
	}

	ol {
		text-align: center;
	}

	.menu-contact-info {
		display: flex;
		justify-content: space-around;
		font-size: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.banner-text {
		left: 14vw;
		width: 75%;
	}
}

@media only screen and (max-width: 1024px) {
	.image-wrap {
		flex-direction: column;
		align-items: center;
	}

	.nav-logo {
		width: 40vw;;
	}
}